.project-info {
  color: blue;
}

.nav {
  width: 12cm;
  font-size: 18px;
  text-align: center;
  background-color: lightblue;
}

.main {
  padding: 10px;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
}
