.project-info {
  color: blue;
}

.nav {
  font-size: 18px;
  text-align: center;
  min-width: 150px;
  background-color: lightblue;
}

.main {
  padding: 12px;
  max-width: 600px;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  max-width: 500px;
}

caption {
  border: 1px solid black;
}